*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Bree Serif', sans-serif;
    font-size: 13px;
}

img {
    height: auto;
    max-width: 100%;
    display: block;
    margin: auto;
}

.text-ellipsis {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical; 
}
  
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 6rem;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #fff;
    text-align: center;
}

.fixed-top-left {
    position: absolute;
    top: 1rem;
    left: 1rem;
    z-index: 10;
    text-align: left;
    max-width: 1200px;
}

.fixed-top-left > h1 {
    padding-left: 1rem;
}

.fixed-top-right {
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 10;
    text-align: right;
    max-width: 1200px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.cards-item {
    display: flex;
    padding: 1rem;
}

@media (max-width: 40rem) {
    .cards-item {
        width: 50%;
    }
}

@media (min-width: 40rem) {
    .cards-item {
        width: 33.3333%;
    }
}

@media (min-width: 56rem) {
    .cards-item {
      width: 25%;
    }
}
  
.card {
    background-color: white;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    text-align: center;
    width: 100%;
}

.card-image {
    height: 10rem;
    display: flex;
    align-items: center;
}
  
.card-content {
    padding: 1rem;
}

.card-title {
    font-size: 1.1rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin: 0px;
}

.card-text {
    color: #ffffff;
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 1.25rem;    
    font-weight: 400;
}

.search-wrap {
    height: 4.4rem;
    padding: 1rem;
}

.search-wrap > label {
    display: none;
}

.search-wrap > input {
    padding-left: 0.4rem;
    font-size: 1rem;
    width: 16rem;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    border: none;
    border-bottom: 0.1rem solid #000;
    outline: none;
}

@media (max-width: 42rem) {
    .search-wrap {
        margin-top: 2.4rem;
    }
}

button{
    width: 2rem;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
}

.search-wrap > button{
    border-bottom: 0.1rem solid #000;
}

.btn-shopping-cart {
    height: 2rem;
    background-color: #000;
    color: #fff;
}