*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
}

img {
    height: auto;
    max-width: 100%;
    display: block;
    margin: auto;
}

.text-ellipsis {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical; 
}
  
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 6rem;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    text-align: center;
    background-color: #fff;
    padding: 1rem;
}

.fixed-top-right {
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 10;
    text-align: right;
    max-width: 1200px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.cards-item {
    display: flex;
    padding: 1rem;
}

@media (min-width: 40rem) {
    .cards-item {
        width: 50%;
    }
}

@media (min-width: 56rem) {
    .cards-item {
      width: 25%;
    }
}
  
.card {
    background-color: white;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    text-align: center;
    width: 100%;
}

.card-image {
    height: 10rem;
    display: flex;
    align-items: center;
}
  
.card-content {
    padding: 1rem;
}

.card-title {
    font-size: 1.1rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin: 0px;
}

.card-text {
    color: #ffffff;
    font-size: 0.875rem;
    line-height: 1.5;
    margin-bottom: 1.25rem;    
    font-weight: 400;
}